body * { 
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}

body {
    background: url(./midia/Foto_fundo_mobile.jpg) no-repeat center center/cover;
    height: 100vh; /* Garante que o body ocupe 100% da altura da tela */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove padding padrão */
}
#profile img {
    width: 151px;
    display: block;
    margin: auto;
    padding: 60px;
    border-radius: 50%; 
}

#profile {
    text-align: center;
    padding: 10px;
}