body {
    background: url(./midia/Foto_fundo_mobile.jpg) no-repeat top center/cover;   
}

#profile img {
    width: 112px;
    display: block;
    margin: auto;
    border-radius: 50%; /* Deixa a imagem redonda */
    
    

}